<div class="container mt-5 col-12 col-md-7" >
  <div class="card border-secondary">
    <div class="card-header">
      <h2 class="card-title">Create new author</h2>
    </div>
    <form
      #authorForm="ngForm"     
      (ngSubmit)="onSubmit(authorForm.value)"
     
    >
      <div class="card-body py-5">
        <div class="row g-0">
          <div class="col-12">
            <!-- <div class="col-6">
                  <div class="row">
                      <strong class="col-2 col-form-label fw-bolder">Active</strong>
                      <div class="col-7">
                          <mat-slide-toggle name="act" disabled [(ngModel)]="author.active" [checked]="!!author.active">
                            </mat-slide-toggle>
                      </div>
                  </div>
              </div> -->
          </div>

          <div class="col-8 mt-2 offset-2 ">
            <div class="row">
              <label for="name" class="col-2 col-form-label fw-bolder"
                >Name*</label
              >
              <div class="col-7">
                <input
                 required
                 name="name"
                 type="text"                  
                 class="form-control"
                 [(ngModel)]="model.name"
                />
              </div>
            </div>
          </div>



          <div class="col-8 mt-2 offset-2">
            <div class="row">
              <label for="lastName" class="col-2 col-form-label fw-bolder"
                >Link
              </label>
              <div class="col-7">
                <input
                   
                  type="text"
                  
                  name="link"
                  
                  class="form-control"
                  [(ngModel)]="model.link"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end px-5">
        <!-- <div (click)="onReset(nf)" class="btn btn-warning me-2">Cancel</div> -->
        <button type="submit" [class.disabled]="!authorForm.valid" class="btn btn-success me-2 me-5">Create</button>
      </div>
    </form>
  </div>
</div>
