<!-- {{books | json}} -->
<div class="container-fluid bg-light shadow">
  <div class="container">
    <div class="row">
      <div class="col-12 p-4 mt-2 d-flex align-items-center">
        <mat-slide-toggle [(ngModel)]="checked" [checked]="checked">
          Switch view
        </mat-slide-toggle>

        <!-- <button class="btn btn-primary ms-auto" (click)="lgModal.show()">Create new book</button> -->
        <button class="btn btn-primary ms-auto" (click)="openModal(lgModal)">Create book</button>
        <!-- <button class="btn btn-outline-primary ms-auto" (click)="openModal(template)"><i class="fa-solid fa-book-open-cover"></i> Create book</button> -->
      </div>
    </div>
  </div>
</div>
<!--Large modal-->

 
<ng-template #lgModal>
      <div class="modal-header">
        <span id="dialog-sizes-name1" class="modal-title .fs-4 fw-bolder pull-left">Create book</span>
        <button type="button" class="btn-close close pull-right" (click)="cancelModal(lgModal)" aria-label="Close">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-floating mb-3" *ngIf="newBook.id">
            <input type="text" 
            class="form-control disabled" 
            id="floatingIdValue" 
            autocomplete="off" 
            [(ngModel)]="newBook.id" 
            [ngModelOptions]="{standalone:true}" placeholder="name@example.com" disabled>
            <label for="floatingInputValue">Book Id</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" 
            class="form-control" 
            id="floatingInputValue" 
            autocomplete="off" 
            [(ngModel)]="newBook.title" 
            [ngModelOptions]="{standalone:true}" placeholder="name@example.com">
            <label for="floatingInputValue">Input Title</label>
          </div>
          <div class="form-floating mb-3">
            <textarea class="form-control" 
              placeholder="Leave a comment here" 
              autocomplete="off" id="floatingTextarea2" 
              [ngModelOptions]="{standalone:true}"
              [(ngModel)]="newBook.shortDescription" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Input short description</label>
          </div>
          <!-- InPUT DATE -->
          <div class="form-floating mb-3" *ngIf="!newBook.id">
            <input type="text" 
              class="form-control"              
              bsDatepicker             
              placeholder="Publish date" 
              autocomplete="off"
              [(ngModel)]="newBook.publishDate"
              [ngModelOptions]="{standalone:true}"
              readonly
              >
            <label for="floatingInputValue">Input Publish Date</label>
          </div>
          <!-- Add multiple autors -->
          <div class="form-floating mb-3" *ngIf="!newBook.id">
          <input 
          
            [(ngModel)]="selectedValueAuthor"
            [typeahead]="authors"
            [ngModelOptions]="{standalone:true}"
            typeaheadOptionField="name"
            (typeaheadOnSelect)="onSelectAuthor($event)"
            type="text" 
            class="form-control" 
            id="floatingInputValue" 
            placeholder="name@example.com">
            <label for="floatingInputValue">Input authors: <span *ngFor="let item of newBook.authors; let i = index;"> <span *ngIf="i > 0">, </span> {{item.name}} </span></label>
          </div>
          <!-- <form class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com">
            <label for="floatingInputValue">Image link</label>
          </form> -->

        </form>
      </div>
      <div class="modal-footer">
        <div class="btn btn-warning" (click)="cancelModal(lgModal)">Cancel</div>
        <div class="btn btn-success" (click)="confirmModal(lgModal)">Save</div>
      </div>
</ng-template>

<!-- End large modal -->
<div class="container px-5 mt-5"  *ngIf="checked">
  <h2 *ngIf="!books && !errorloading">Loading books....</h2>
  <div class="row" *ngIf="errorloading">
<div class="col-12">
  <div class="alert alert-danger">
    <h3 class="alert-header">Error loading</h3>
    <p>
      {{errorMessage}}
    </p>
  </div>
</div>
  </div>
  <div class="row" *ngIf="books">

    <!-- <div class="col-12">Books {{ books?.length }}</div> -->
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <ng-container>
      <table 
        mat-table 
        [dataSource]="books!"  
        multiTemplateDataRows
        class="mat-elevation-z8 w-100">
        <!-- id column -->
        <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let book">{{book.id}}</td>
        </ng-container>
        <ng-container matColumnDef="link" >
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let book" class="py-3">
            
            <img  [src]="book.image" alt="" class="img-thumbnail rounded img-fluid shadow" style="max-height: 100px">
            
          </td>
      </ng-container>
        <!-- title column -->
        <ng-container matColumnDef="title">
            <th class="ps-3" mat-header-cell *matHeaderCellDef>Title</th>
            <td class="ps-3" mat-cell *matCellDef="let book">
              <span class="float-start pt-2">
                {{book.title}}  
              </span><fa-icon 
                class="btn btn-link ms-3 me-3 float-end"
                [icon]="faClockRotateLeft" 
                size="lg" 
                *ngIf=" book?.booksHistory?.length>0" 
                ></fa-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="published">
            <th class="ps-3" mat-header-cell *matHeaderCellDef>Publish Date</th>
            <td class="ps-3" mat-cell *matCellDef="let book">{{book.publishDate | date:'shortDate'}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th class="ps-3" mat-header-cell *matHeaderCellDef>Description</th>
            <td class="ps-3" mat-cell *matCellDef="let book">
              
              {{book.shortDescription}}
              <div class="text-end w-100 pe-5 text-muted">
                by <span *ngFor="let item of book.authors; let i = index"> <span *ngIf="i>0">, </span> {{item.name}}</span>
              </div>

            </td>
        </ng-container>

        <!-- EXPANDED -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail" [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'">
              <table class="table" style="width: 100%;">
                <thead>
                  <tr>
                    <th scope="col">Track Title Changes</th>
                    <th scope="col">Time</th>
                    <th scope="col">User</th>
                    <th scope="col"><button class="btn btn-primary btn-sm" (click)="openEditModal(lgModal, element)">
                     Edit Book
                    </button></th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let item of element.booksHistory">
                    <!-- <td><img src="https://picsum.photos/id/{{element.id}}/150/100" alt="thumbnail"></td> -->
                    <td  style="width: 200px;"> 
                      <ng-container>
                        {{item.title}} 
                      </ng-container>
                    </td>
                    <td>
                      {{item.changed | date: 'short' }} 
                    </td>
                    <td>
                      {{item.userName}}
                    </td>
                   <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="element.expanded" (click)="toggleRow(element)"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
   
        </table>
        <mat-paginator
          [pageSize]="10"
          [pageSizeOptions]="[10, 20, 30, 50]"
          showFirstLastButtons></mat-paginator>
    </ng-container>



  </div>

  <div class="row">
    <div class="col-12 mt-4 d-flex justify-content-center">
      <!-- <pagination 
    [boundaryLinks]="true"  
    [totalItems]="20" 
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;"></pagination> -->
    </div>
  </div>
</div>
<div class="container-fluid  px-5 mt-5" >
  <ng-container *ngIf="!checked">
    <app-card [booksFromBookComponent]="data" [faCircleInfo]="faCircleInfo" ></app-card>
  </ng-container>
</div>
